puppeteer_download_host=https://nexus.lenovopartner.cn/repository/taobao-mirrors
registry=https://nexus.lenovopartner.cn/repository/npm/
chromedriver_cdnurl=https://nexus.lenovopartner.cn/repository/taobao-mirrors/chromedriver
phantomjs_cdnurl=https://nexus.lenovopartner.cn/repository/taobao-mirrors/phantomjs
electron_mirror=https://nexus.lenovopartner.cn/repository/taobao-mirrors/electron/
sass_binary_site=https://nexus.lenovopartner.cn/repository/taobao-mirrors/node-sass/